<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ wp_head }}
</head>
<body class="{{ body_class }} bg-white dark:bg-black text-black dark:text-white">
    {% include "sections/header.twig" %}

    <main id="content">
        {% block content %}
            {# Content from individual pages goes here #}
        {% endblock %}
    </main>

    {% include "sections/footer.twig" %}
</body>
</html>